
<h1 class="app-name">Menu</h1>

<div class="scrollable" data-ng-controller="HeaderController">
    <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="mainSidebar">
            <span>
                <a class="list-group-item" ui-sref="home" mean-token="'site-title'">
                    Home <i class="fa fa-chevron-right pull-right"></i>
                </a>
            </span>
            <span data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" >
                <a class="list-group-item" mean-token="item.link" ui-sref='{{item.link}}'>
                    {{item.title}} <i class="fa fa-chevron-right pull-right"></i>
                </a>
            </span>
            <!--<a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/scroll">Scroll <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/toggle">Toggle <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/tabs">Tabs <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/accordion">Accordion <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/overlay">Overlay <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/forms">Forms <i class="fa fa-chevron-right pull-right"></i></a>-->
        </div>

    </div>
</div>
<!--

<div class="page-header" data-ng-controller="HeaderController">
  <div class="logo pull-left">
    <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">MEAN</a>
  </div>

  <div class="left pull-left">
    <ul class="navbar-nav nav">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
          <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
      </li>
    </ul>
  </div>

  <div class="account">
    <div class="text-edit">
      <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
      <div class="pull-right" data-ng-show="global.authenticated" mean-translate></div>
    </div>
    <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
        <li><a ui-sref='auth.register'>Register</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a ui-sref='auth.login'>Login</a>
        </li>
    </ul>
    <ul class="navbar-nav nav" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{global.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/logout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
  </div>
</div>
-->
